body {
  background: #222738;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}
#container {
  margin-top: 10%;
  display: inline-block;
}
canvas {
  background: #181825;
  border: 1px solid #6e7888;
}
p {
  color: aqua;
}